.wrapper{
    height: 100%;
    display: grid;
    row-gap: 2.5vw;
    justify-content: space-between;
}
@media screen and (min-width:1000px) {
    .wrapper{
        grid-template-columns: repeat(3, 25vw);
    }
}
@media screen and (max-width:999px){
    .wrapper{
        grid-template-columns: repeat(2, 37.5vw);
    }
}
@media screen and (max-width:600px){
    .wrapper{
        grid-template-columns: repeat(1, 80vw);
        row-gap: 4vh;
    }
}