.mainContainer{
    width: 100vw;
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f8f9fa;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5%;
}
.courseCard{
    margin: 18px;
    width: 450px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0px 2px 20px grey;
    background-color: white;
    
}
h1{
    font-size: 4rem;
    width: 1024px;
    margin: 0 auto;
}