<div class="mainContainer">
    <h1>Job Oriented Courses</h1>
    <div class="cardContainer" [ngStyle]="{'left':''+ cardContainerPosition +'%'}" >
        <div class="courseCard" *ngFor="let ele of arr">
            <app-course-card [course]="ele"></app-course-card>
        </div>
    </div>

    <div class="slider-container">
        <div class="slider">
            <div class="sliderCompleted" [ngStyle]="{'width':''+ percentage +'%'}"></div>
        </div>

        <div class="arrow-container">
            <span class="material-symbols-rounded arrow-behaviour" (click)="onRightClick()" [style.color]="rightButtonColor">arrow_circle_right</span>
            <span class="material-symbols-rounded arrow-behaviour" (click)="onLeftClick()" [style.color]="leftButtonColor">arrow_circle_left</span>
        </div>
    </div>

</div>


<!-- *ngIf="turnOnOff()" -->