<div class="mainContainer">
    <h1>Job Oriented Courses</h1>
    <div class="cardContainer">
        <div class="courseCard">
    
        </div>
        <div class="courseCard">
            
        </div>
        <div class="courseCard">
            
        </div>
        <div class="courseCard">
            
        </div>
        <div class="courseCard">
            
        </div>
        <div class="courseCard">
            
        </div>
        <div class="courseCard">
            
        </div>
    </div>
</div>