.mainContainer{
    width: 100vw;
    height:800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x:hidden;
}

.cardContainer{
    display: grid;
    position: relative;
}

.courseCard{
    border-radius: 25px;
    box-shadow: 0px 2px 20px grey;
    background-color: white;
    height: 500px;
    margin: 18px;
}

@media screen and (min-width:1024px){
    .cardContainer{
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
        transition: all ease-in-out 0.5s;
    }
    .courseCard{
        width: 440px;
    }
}

@media screen and (max-width:1023px){
    .cardContainer{
        grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
    }
    .courseCard{
        width: minmax(350px,400px);
    }
    .mainContainer{
        height: min-content;
    }
}


h1{
    font-size: 4rem;
    width: 1024px;
    margin: 0 auto;
    font-weight: 300;
}

.slider-container{
    width: 1180px;
    margin: 0 auto;
}

.slider{
    width: 100%;
    height: 4px;
    background-color: #e8eaed;
}
.sliderCompleted{
    width: 50%;
    height: 100%;
    background-color: #1cdac5;
    transition: all ease-in-out 0.5s
}
.arrow-behaviour{
    float: right;
}

.arrow-behaviour:hover{
    cursor: pointer;
}

.arrow-container{
    margin-top: 10px;
}


@media screen and (max-width:1200px) {
    .slider-container{
        width: 1024px;
    }   
}