.wrapper{
    margin: 0 auto;
    width: 80vw;
    
}
.mainContainer{
    margin: 50px auto;
    height: min-content;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 18%;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
p{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}