<div class="mainContainer">
    <div class="container">
        <h1>Address</h1>
        <h2>Bitcode Technologies Pvt. Ltd.</h2>
        <div class="addressContainer">
            <h3>Karve Road (HQ)</h3>
            <p>3rd, 4th floor, Bhosale House, Nal Stop, Karve Road, Next to Kalyan Jewellers, Erandwane, Pune - 411004 </p>
            <p><span class="material-symbols-rounded">call</span>+91 - 98811 25904</p>
            <p><span class="material-symbols-rounded">mail</span>info@bitcode.in</p>
        </div>

        <div class="addressContainer">
            <h3>Narhe - Sinhagad Road</h3>
            <p>2nd floor, Vishva Arcade, Above Honda Showroom Navle Bridge, Narhe, Sinhgad Road Pune - 411041.</p>
            <p><span class="material-symbols-rounded">mail</span> narhe@bitcode.in</p>
            <p><span class="material-symbols-rounded">call</span>+91 - 98811 25904</p>
        </div>
    </div>

    <div class="container">
        <h1>Job Oriented Courses</h1>
        <p>Android Expert</p>
        <p>iExpert</p>
        <p>Web Expert</p>
        <p>Java Expert</p>
        <p>Angular 7 & Node.JS</p>
    </div>

    <div class="container">
        <h1>Diploma Courses</h1>
        <p>DMAD (Diploma in Mobile App Development)</p>
        <p>DST (Diploma in Software Testing)</p>
    </div>
    
    <div class="container">
        <h1>Services</h1>
        <p>Modular Training</p>
        <p>Corporate Training</p>
        <p>Placements</p>
    </div>

    <div class="container">
        <h1>About BitCode</h1>
        <p>Explore BitCode</p>
        <p>Advantage BitCode</p>
        <p>Clients</p>
    </div>
</div>