<mat-card class="wrapper">
    <mat-card-header>
      <mat-card-title>{{course}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/images/daniel-korpai-pKRNxEguRgM-unsplash.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consectetur corporis vero fugiat harum accusamus magnam ab eaque dolore dolorem culpa neque eius, nisi ullam dolor minima aliquam pariatur non.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read More</button>
    </mat-card-actions>
</mat-card>