.wrapper{
    width: 100vw;
    height: 800px;
}
.image_container{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type:inline mandatory;
    scrollbar-width: none;
}

.image_container>*{
    scroll-snap-align: start;
}

.image_container::-webkit-scrollbar{
    display: none;
}