<div class="wrapper">
    <mat-card-header>
        <mat-card class="courseCard">
            <h1>Courses</h1>
        </mat-card>
    </mat-card-header>
    <div class="card-wrapper">
        
        <mat-card class="card">
                <div class="divider">
                    <div>
                        <h1>Course content</h1>
                    </div>
                    <div>
                        <h1>Course content</h1>
                    </div>
                    <div>
                        <h1>Course content</h1>
                    </div>
                    <div>
                        <h1>Course content</h1>
                    </div>
                </div>
        </mat-card>            
        
    </div>
</div>