.wrapper{
    margin: 0 auto;
    width: 1280px;
    height: 30vw;
    display: flex;
    align-items: center;
    /* background-color: rgba(144, 238, 144, 0.2); */
}
.courseName{
    width: 60%;
}
.courseName>h1{
    font-size: 3rem;
}
.courseDescription{
    width: 40%;
}
.courseDescription>p{
    font-size: 1.5rem;
}
