<div class="mainContainer">
    <div class="infoContainer">
        <div class="info">
            <p class="item1">Lorem, ipsum dolor.</p>
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus tempore enim recusandae eius eos deleniti. Incidunt commodi tempora dolorem excepturi quod vel, alias nostrum explicabo voluptatibus recusandae, quisquam ex eius!</p>
        </div>
    </div>
    <img src="../../../../assets/images/sarah-dorweiler-QeVmJxZOv3k-unsplash.jpg" alt="No Image Found">
</div>