<div class="mainContainer">
    <h1>Client and Recruiters</h1>
    <div class="cardHolder">  
        <div class="commonProperties set1">
            <div class="card_type1">
                <img src="../../../../assets/images/albert-stoynov-jooXO8q2Gcs-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/aurora-borealis-NUdqVJQH8J0-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/axp-photography-byqGPic8Dcw-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/axp-photography-YJUMir8ild4-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        <div class="commonProperties set2">
            <div class="card_type1">
                <img src="../../../../assets/images/brice-cooper-9ZOY7LR3Imw-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/dennis-mita-mXFo24tmu7E-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/erik-knoef-v9R4kGKEThU-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        <div class="commonProperties set3">
            <div class="card_type1">
                <img src="../../../../assets/images/evan-yang-lk3a3hEdnu8-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/kenneth-coffie-l2LCcuHeQqY-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        <div class="commonProperties set4">
            <div class="card_type2">
                <img src="../../../../assets/images/krisna-yuda-YwRpnMDkqAk-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        <div class="commonProperties set3">
            <div class="card_type1">
                <img src="../../../../assets/images/lucas-marinho-VeRdyxVwL6c-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/milad-fakurian-N_nbhTHtmYg-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        <div class="commonProperties set2">
            <div class="card_type1">
                <img src="../../../../assets/images/mk-s-OGlpQis3cbQ-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/pramod-tiwari-GDgCAUWN05s-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/salman-sidheek-1y4kwV2cBHQ-unsplash.jpg" alt="Image not found">
            </div>
        </div>
        
        
        <div class="commonProperties set1">
            <div class="card_type1">
                <img src="../../../../assets/images/sergey-kvint-ss6pSXKPiZ4-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/victor-martin-O26Pi6BLjbo-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/vishwasa-navada-k-XUmZjt97D8A-unsplash.jpg" alt="Image not found">
            </div>
            <div class="card_type1">
                <img src="../../../../assets/images/salman-sidheek-IsxNBpum4G4-unsplash.jpg" alt="Image not found">
            </div>
        </div>
    </div>
</div>