<div class="background">
    <div class="mainContainer">
        <h1>Client and Recruiters</h1>
        <div class="cardHolder">
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
            </div>
            
            <div class="commonProperties">
                <div class="card"></div>
            </div>
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
            </div>
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            
            
            <div class="commonProperties">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
    </div>
</div>