.wrapper{
    height: 550px;
    display: grid;
    position: relative;
    grid-auto-flow: column;
    overflow-x: auto;
    scrollbar-width: none;
    column-gap: 18px;
    overscroll-behavior-inline: contain;
    scroll-snap-type:inline mandatory;
}
.wrapper>*{
    scroll-snap-align: start;
}
.wrapper::-webkit-scrollbar{
    display: none;
}