header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}
main{
    width: 100vw;
    position: relative;
    top: 65px;
    left: 0;
}
footer{
    position: relative;
    top: 65px;
    width: 100vw;
}
