<div class="mainContainer">
    <mat-toolbar class="toolbar">
      <img src="../../assets/images/bitcode.png" alt="no image found">
      <span class="spacer"></span>
        
        <nav *ngIf="turnOnOff()" class="btn-container-wrapper">
            <button mat-flat-button routerLink="/home">Home</button>
            <button mat-flat-button (click)="onSelect()" routerLink="/courses">Courses</button>
            <button mat-flat-button routerLink="DMAD">DMAD</button>
            <button mat-flat-button routerLink="schedule">Schedule</button>
            <button mat-flat-button routerLink="clients">Clients</button>
            <button mat-flat-button routerLink="placements">Placements</button>
            <button mat-flat-button routerLink="about-us">About Us</button>
            <button mat-flat-button routerLink="contact">Contact</button>
        </nav>

        <button mat-icon-button *ngIf="!turnOnOff()">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</div>


<mat-card *ngIf="condition" style="border-radius: 0%;">
    <mat-grid-list cols="4" rowHeight="300px">
      <mat-grid-tile *ngFor="let course of courses">
        <div class="container">
          <h2>{{course.courseName}}</h2>
          <button class="btn-type2" *ngFor="let subCourse of course.subCourse" routerLink="/individualCourse">
            <div style="margin-left: 20px;">
              {{subCourse.subCourseName}}
            </div>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>