<div class="mainContainer">
    <mat-toolbar class="toolbar">
        <span class="spacer"></span>
        
        <nav *ngIf="turnOnOff()" class="btn-container-wrapper">
            <div class="btn-container">
              <a class="btn">Home</a>
            </div>
            <div class="btn-container">
              <a class="btn" (click)="onSelect()">Courses</a>
            </div>
            <div class="btn-container">
              <a class="btn">DMAD</a>
            </div>
            <div class="btn-container">
              <a class="btn">Schedule</a>
            </div>
            <div class="btn-container">
              <a class="btn">Clients</a>
            </div>
            <div class="btn-container">
              <a class="btn">Placements</a>
            </div>
            <div class="btn-container">
              <a class="btn">About Us</a>
            </div>
            <div class="btn-container">
              <a class="btn">Contact</a>
            </div>
        </nav>

        <button mat-icon-button *ngIf="!turnOnOff()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
</div>


<mat-card *ngIf="condition" style="border-radius: 0%;">
    <mat-card-content>
      <div class="grid">
        <div *ngFor="let course of courses">
          <div class="container">
            <h2>{{course.courseName}}</h2>
            <button mat-flat-button *ngFor="let subCourse of course.subCourse">{{subCourse.subCourseName}}</button>
          </div>
        </div>
      </div>
    </mat-card-content>
</mat-card>