<div class="mainContainer">
    
    <div class="imageContainer"><img src="./assets/images/bitcode.png" alt="img not found"></div>
        

    <nav *ngIf="onWindowResize()">

        <div class="tooltip">
            <a  href="#">Home 
                <div class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </div>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">Course 
                <span class="tooltiptext">
                    <app-tool-tip [arr]="courses"></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">DMAD 
                <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">Schedule
                 <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">Clients 
                <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">Placement 
                <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">About-Us 
                <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
        
        <div class="tooltip">
            <a href="#">Contact 
                <span class="tooltiptext">
                    <app-tool-tip></app-tool-tip>
                </span>
            </a>
        </div>
    </nav>

    <div class="menuContainer" *ngIf="!onWindowResize()">
        <a class="menuIcon" href="#">
            <span class="material-symbols-rounded">
                menu
            </span>
        </a>
    </div>
</div>